@model WebAppServer.Models.ErrorViewModel
@{
    ViewBag.Title = "Ошибка";
}

<h2 class="text-danger">Ошибка.</h2>
@if (Model == null)
{
    <h3 class="text-danger">В процессе выполнения запроса произошла ошибка.</h3>
}
else
{
    <h3 class="text-danger">@Model.Message</h3>
}
