@import "bootstrap/bootstrap.less";
@import "variables.less";

body {
    background: url(../images/bg.jpg) #0D0D0D center top no-repeat;
}

.orange {
    color: #EC4003;
}

.navbar {
    border: none;

}

nav {
    li {
        padding: 1px;
    }
    a {
        color: #0D0D0D;
    }
}

header div {
    margin: 10px 0;
}

a {
    color: #808080;

    &.brand {
        font-size: 32px;
        color: #E7E7E7;

        &:hover {
            text-decoration: none;
            color: #E7E7E7;
        }
    }

    &:hover {
        text-decoration: underline;
        color: #E7E7E7;
    }

    &:focus {
        color: #E7E7E7;
    }
}

.login {
    margin-top: 22px;

    a {
        margin-right: 20px;
        margin-left: 20px;
    }
}
