/*основной фон страницы*/
@body-bg: #0d0d0d; 
/*специфический оранжевый цвет данного дизайна*/
@brand-primary: #EC4003; 
/*цвет навбара при наведении*/
@nav-link-hover-bg: @brand-primary;
/*базовый радиус скругления углов элементов*/
@border-radius-base: 4px;
/*радиус скругления навбара*/
@navbar-border-radius: 5px;
/*цвет навбара*/
@navbar-default-bg: #E7E7E7;
/*размер шрифта на странице*/
@font-size-base: 14px; 
/*основной цвет текста на странице*/
@text-color: #808080;
@navbar-margin-bottom: 5px;
@navbar-height: 40px;
/*отступы по бокам navbar*/
@navbar-padding-horizontal: 0px;
/*отступы в модальном окне*/
@modal-inner-padding: 15px;
/*серый фон текстовых полей ввода*/
@input-bg: #f3f3f3;
/*основным шрифтом будет Tahoma*/
@font-family-base: Tahoma, sans-serif;
/*серый цвет текста в полях*/
@input-color: #555;
/*отступы для панелей*/
@panel-body-padding: 5px;