@{
    ViewBag.Title = "Home Page";
    ViewBag.Home = "active";
}

<div class="jumbotron">
    <h1>Основное описание</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Особенность 1</h2>
        <p>Описание особенности</p>
        <p><a class="btn btn-default" href="">Больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Особенность 2</h2>
        <p>Описание особенности</p>
        <p><a class="btn btn-default" href="">Больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Особенность 3</h2>
        <p>Описание особенности</p>
        <p><a class="btn btn-default" href="">Больше &raquo;</a></p>
    </div>
</div>