@{
    ViewBag.Title = "Подтверждение электронной почты";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Для завершения регистрации вам необходимо подтвердить личные данные. Необходимая информация отправлена на ваш адрес
        электронной почты указанный при регистрации.
    </p>
</div>
