@{
    ViewBag.Title = "Восстановление данных учетной записи";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Данные для восстановления учетной записи были отправлены на ваш адрес электронной почты.
    </p>
</div>

