@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h2 class="text-danger">Заблокировано.</h2>
    <h3 class="text-danger">Эта учетная запись была заблокирована, пожалуйста повторите попытку позже.</h3>
</hgroup>
